body {
  background-color: #EEEDFD;
}
.MyShadow {
  box-shadow: 0px 20px 40px #E5DEFF;
  border: 0;
}

@keyframes beat {
  0%   {font-size: 24px;}
  50%  {font-size: 30px;}
  100% {font-size: 24px;}
}

/* .icon{
  animation-name: beat;
  animation-duration: 2s;
  animation-iteration-count: infinite;
} */




/* RESPONSIVE */
@media (min-width: 300px) {
 

}

@media (min-width: 576px) { 

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .card-title, .counter{
    font-size: 18px !important;
  }
  .icon{
    font-size: 24px !important;
    padding: 5px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .card-title, .counter{
    font-size: 24px !important;
  }
  .icon{
    font-size: 48px !important;
    padding: 10px;
  }
 
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .card-title, .counter{
    font-size: 30px !important; 
  }
  .icon{
    font-size: 54px !important;
    padding: 10px;
  }
 }